.topbar {
    position: fixed;
    height: 77px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(var(--main-background), 0.1);
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(22px);
    box-shadow: 11px 11px 11px rgba(215, 224, 233, 0.04);
    border-bottom: 1px solid rgb(1, 63, 197);
    color: #CCC;
    z-index: 1;
}

.info {
    flex: 4;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    margin: 0 22px 0 44px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: "Jura", sans-serif;
    font-size: 22px;
}

.title {
    padding: 0 22px;
    height: 50%;
    display: flex;
    align-items: center;
    font-family: "Jura", sans-serif;
    font-size: 16px;
    color: #CCC;
    border-left: 1px solid #CCC;   
}

.search {
    margin: 0 22px;
    height: 44%;
    flex: 1;
    border-radius: 22px;
    opacity: 0.8;
}

.search form {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 22px;
    transition: all 1.4s ease-in-out;
}

.search input[type=text] {
    height: 100%;
    width: 100%;
    padding: 7px 11px;
    border-radius: 22px 0 0 22px;
    background-color: #FFF;
    color: #111111;
}

.search input::placeholder {
    color: #CCC;
}

.search form:hover {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px var(--main-highlight);
}

.search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0 22px 22px 0;
}

.search i {
    padding: 8px 11px;
    height: 100%;
    color: #CCC;
    border-radius: 0 22px 22px 0;
    background-color: #FFF;
}