.topbar {
      height: 77px;
      min-height: 77px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--main-background);
      border-bottom: 1px solid rgb(1, 63, 197);
      color: #CCC;
}

.info {
    flex: 4;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    margin: 0 22px 0 44px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: "Jura", sans-serif;
    font-size: 22px;
}

.title {
    padding: 0 22px;
    height: 50%;
    display: flex;
    align-items: center;
    font-family: "Jura", sans-serif;
    font-size: 16px;
    color: #CCC;
    border-left: 1px solid #CCC;

}

.search {
    margin: 0 22px;
    height: 44%;
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 22px;
    opacity: 0.8;
    transition: all 1.4s ease-in-out;
}

.search input[type=text] {
    height: 100%;
    width: 100%;
    padding: 7px 11px;
    border-radius: 22px 0 0 22px;
    background-color: #FFF;
    color: #111111;
}

.search:hover {
    opacity: 1;
    box-shadow: 0px 0px 16px 4px var(--main-highlight);
}

.search i {
    padding: 8px 11px;
    height: 100%;
    color: #CCC;
    border-radius: 0 22px 22px 0;
    background-color: #FFF;
}