.sidebar h1 {
    padding: 44px 44px 22px 44px;
    color: var(--main-header);
    font-size: 16px;
    font-weight: 600;
}

.sidebar span {
    padding: 4px 55px;
    color: var(--main-subheader);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.sidebar span {
    padding: 4px 55px;
    display: block;
    color: var(--main-subheader);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.sidebar span:hover {
    background-color: var(--main-accent);
    color: var(--main-header);
}

.sidebar span i {
    margin-right: 11px;
}

.sidebar a {
    text-decoration: none;
}

