.pagebuttons {
    height: 77px;
    width: 100%;
    margin-top: 44px;
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
}

.pagebuttons button {
    padding: 11px 44px;
    background-color: transparent;
    border-radius: 22px;
    border: 1px solid var(--main-accent);
    color: var(--main-accent);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
}

.pagebuttons button:hover {
    background-color: rgba(var(--main-page-buttons), 0.4);
    box-shadow: 0px 0px 4px 1px var(--main-highlight);
}