.pagenav h1 {
    padding: 22px 22px 11px 44px;
    display: block;
    color: var(--main-card);
    font-size: 16px;
    font-weight: 300;
}

.pagenav span {
    padding: 4px 66px;
    display: block;
    color: var(--main-subheader);
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

.pagenav span:hover {
    color: var(--main-header);
    cursor: pointer;
    text-shadow: 0px 0px 1px #FFF;
}

.pagenav i {
    margin-right: 11px;
}

.pagenav a, a:visited, a:active {
    color: var(--main-paragraph);
    text-decoration: none;
}