.pagenav h1 a {
    padding: 22px 22px 11px 44px;
    display: block;
    color: var(--main-card);
    font-size: 16px;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}

.pagenav span a {
    padding: 4px 66px;
    display: block;
    color: var(--main-pagelinks);
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

.pagenav span a:hover {
    color: var(--main-paragraph);
    cursor: pointer;
    text-shadow: 0px 0px 1.4px #FFF;
}

.pagenav i {
    margin-right: 11px;
}

.pagenav a, a:visited, a:active {
    text-decoration: none;
}