.card {
    width: 44%;
    display: flex;
    padding: 22px;
    margin: 11px 0;
    align-items: center;
    justify-content: center;
    background-color: var(--main-card);
    border-radius: 4px;
    box-shadow: 0px 0px 11px 1px var(--main-highlight);
    line-height: 22px;
}
