.page {
    flex: 4;
    height: 100%;
    color: #FFF;
    position: relative;
    display: flex;
    border-left: 1px solid rgb(1, 63, 197);
    overflow-y: auto;
}

.page-left {
    flex: 1.75;
    height: 100%;
    padding: 44px;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.page-left::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.page-right {
    flex: 1.25;
    height: 100%;
    display: flex-start;
    align-items: flex-start;
    justify-content: center;
}

.page-left h1 {
    padding: 44px 0 11px 44px;
    color: var(--main-header);
}

.page-left h2 {
    padding: 22px 44px;;
    color: var(--main-subheader);
}

.page p {
    padding: 22px 44px;
    text-align: justify;
}

.card-container {
    display: flex;
    padding: 11px 22px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sidenote-container {
    display: flex;
    flex-direction: column;
    padding: 11px 44px;
}

.snippet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 11px 33px;
}