.page {
    flex: 4;
    height: 100%;
    color: #FFF;
    position: relative;
    display: flex;
    border-left: 1px solid rgb(1, 63, 197);
    overflow-y: auto;
}

.page-left {
    flex: 1.75;
    height: 100%;
    padding: 44px;
    background-color: rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.page-left::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.page-right {
    flex: 1.25;
    height: 100%;
    display: flex-start;
    align-items: flex-start;
    justify-content: center;
}

.page-left h1 {
    padding: 44px 0 11px 44px;
    color: var(--main-header);
}

.page-left h2 {
    padding: 22px 44px;;
    color: var(--main-card);
}

.page-left h3 {
    color: var(--main-subheader);
    padding: 22px 44px;;
}

.page p {
    padding: 22px 44px;
    text-align: justify;
}

.card-container {
    display: flex;
    padding: 11px 22px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sidenote-container {
    display: flex;
    flex-direction: column;
    padding: 11px 44px;
}

.snippet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 11px 33px;
}

.previous-button {
    height: 77px;
    width: 100%;
    margin: 44px;
    padding: 22px 22px 22px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    bottom: 0;
    cursor: pointer;
}

.next-button {
    height: 77px;
    width: 100%;
    margin-top: 44px;
    padding: 22px 44px 22px 22px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    cursor: pointer;
}

.previous-button button, .next-button button {
    padding: 11px 44px;
    background-color: transparent;
    border-radius: 22px;
    border: 1px solid var(--main-accent);
    color: var(--main-accent);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.33s ease-in-out;
}


.previous-button button:hover, .next-button button:hover {
    background-color: rgba(var(--main-page-buttons), 0.2);
    box-shadow: 0px 0px 4px 1px var(--main-highlight);
}