.page {
    color: #FFF;
    padding: 44px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
}

.page h1 {
    padding: 44px 0 11px 22px;
    color: var(--main-header);
}

.page h2 {
    padding: 22px;
    color: var(--main-subheader);
}

.page p {
    padding: 22px;
    text-align: justify;
}

.card-container {
    display: flex;
    padding: 11px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sidenote-container {
    display: flex;
    flex-direction: column;
    padding: 11px 33px;
}

.snippet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 11px 22px;
}