.sidebar {
    flex: 1;
    height: 100%;
    position: relative;
    color: #CCC;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.sidebar h2 {
    padding: 44px 44px 22px 44px;
    font-size: 16px;
    font-weight: 600;
}

.sidebar li {
    padding: 4px 44px;
}

.sidebar li:hover {
    background-color: var(--main-accent);
}

.sidebar i {
    margin-right: 11px;
}