.sidebar {
    padding-top: 77px;
    flex: 1;
    height: 100%;
    position: relative;
    color: #CCC;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    border-top: 11px solid rgb(1, 63, 197);
}

.sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.sidebar a {
    color: var(--main-paragraph);
    text-decoration: none;
}