* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background: rgb(8, 14, 32);
    --main-accent: rgb(1, 63, 197);
    --main-card: rgb(62, 117, 236);
    --main-sidenote: rgb(241, 60, 60);
    --main-highlight: rgb(0, 0, 255);
    --main-snippet: rgb(8, 29, 70);
}

#root, html, body {
    height: 100%;
    width: 100%;
    font-family: "Urbanist", sans-serif;
    background-color: var(--main-background);
}

.app {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.wrapper {
    display: flex;
    height: calc(100% - 77px);
    width: 100%;
}

input[type=text] {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}