* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: flex;
}

html, body {
    background-color: rgb(8, 14, 32);
}

input[type=text] {
    border: none;
    outline: none;
}