* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-accent: rgb(1, 63, 197);
    --main-background: rgb(8, 14, 32);
    --main-card: rgb(62, 117, 236);
    --main-highlight: rgb(0, 0, 255);
    --main-page-buttons: 0, 0, 255;
    --main-pagelinks: rgb(98, 113, 153);
    --main-paragraph: rgb(255, 255, 255);
    --main-sidenote: rgb(241, 60, 60);
    --main-snippet: rgb(8, 29, 70);
    --main-header: rgb(255, 255, 255);
    --main-subheader: #CCC;
}

#root, html, body {
    height: 100%;
    width: 100%;
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
    background-color: var(--main-background);
}

#root {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.main {
    height: calc(100% - 77px);
    width: 100%;
    display: flex;
    overflow: hidden;
}

input[type=text] {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 22px;
}