* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-background: rgb(8, 14, 32);
    --main-accent: rgb(1, 63, 197);
}

#root, html, body {
    height: 100%;
    width: 100%;
    background-color: var(--main-background);
}

body {
    /* overflow: hidden; */
}

.app {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.wrapper {
    display: flex;
    height: calc(100% - 77px);
    width: 100%;
}

input[type=text] {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}